.desktop {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.desktop .overlap-wrapper {
    background-color: #ffffff;
    width: 1440px;
    height: 1024px;
}

.desktop .overlap {
    position: relative;
    width: 1384px;
    height: 968px;
    top: 25px;
    left: 29px;
    background-color: #d5e0a8;
}

.desktop .group {
    width: 268px;
    top: 847px;
    left: 23px;
    position: absolute;
    height: 100px;
}

.desktop .overlap-group {
    position: relative;
    width: 266px;
    height: 100px;
    background-color: #d9d9d9;
    border: 1px solid;
    border-color: #000000;
}

.desktop .text-wrapper {
    left: 79px;
    position: absolute;
    top: 32px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 28px;
    letter-spacing: 0;
    line-height: normal;
}

.desktop .overlap-group-wrapper {
    width: 269px;
    top: 847px;
    left: 1092px;
    position: absolute;
    height: 100px;
}

.desktop .div-wrapper {
    position: relative;
    width: 267px;
    height: 100px;
    background-color: #d9d9d9;
    border: 1px solid;
    border-color: #000000;
}

.desktop .div {
    left: 42px;
    position: absolute;
    top: 32px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 28px;
    letter-spacing: 0;
    line-height: normal;
}

.desktop .group-2 {
    width: 589px;
    top: 498px;
    left: 772px;
    position: absolute;
    height: 100px;
}

.desktop .overlap-2 {
    position: relative;
    width: 587px;
    height: 100px;
    background-color: #d9d9d9;
    border: 1px solid;
    border-color: #000000;
}

.desktop .text-wrapper-2 {
    left: 131px;
    position: absolute;
    top: 32px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 28px;
    letter-spacing: 0;
    line-height: normal;
}

.desktop .group-3 {
    width: 589px;
    top: 637px;
    left: 772px;
    position: absolute;
    height: 100px;
}

.desktop .p {
    left: 48px;
    position: absolute;
    top: 32px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 28px;
    letter-spacing: 0;
    line-height: normal;
}

.desktop .group-4 {
    width: 589px;
    top: 359px;
    left: 23px;
    position: absolute;
    height: 100px;
}

.desktop .text-wrapper-3 {
    left: 119px;
    position: absolute;
    top: 32px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 28px;
    letter-spacing: 0;
    line-height: normal;
}

.desktop .group-5 {
    width: 589px;
    top: 637px;
    left: 23px;
    position: absolute;
    height: 100px;
}

.desktop .text-wrapper-4 {
    left: 43px;
    position: absolute;
    top: 32px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 28px;
    letter-spacing: 0;
    line-height: normal;
}

.desktop .group-6 {
    width: 589px;
    top: 498px;
    left: 23px;
    position: absolute;
    height: 100px;
}

.desktop .text-wrapper-5 {
    left: 118px;
    position: absolute;
    top: 32px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 28px;
    letter-spacing: 0;
    line-height: normal;
}

.desktop .group-7 {
    width: 589px;
    top: 220px;
    left: 23px;
    position: absolute;
    height: 100px;
}

.desktop .text-wrapper-6 {
    left: 137px;
    position: absolute;
    top: 32px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 28px;
    letter-spacing: 0;
    line-height: normal;
}

.desktop .group-8 {
    width: 589px;
    top: 15px;
    left: 398px;
    position: absolute;
    height: 100px;
}

.desktop .text-wrapper-7 {
    left: 135px;
    position: absolute;
    top: 32px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 28px;
    letter-spacing: 0;
    line-height: normal;
}

.desktop .group-9 {
    width: 589px;
    top: 220px;
    left: 772px;
    position: absolute;
    height: 100px;
}

.desktop .text-wrapper-8 {
    left: 73px;
    position: absolute;
    top: 32px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 28px;
    letter-spacing: 0;
    line-height: normal;
}

.desktop .group-10 {
    width: 589px;
    top: 359px;
    left: 772px;
    position: absolute;
    height: 100px;
}

.desktop .text-wrapper-9 {
    left: 115px;
    position: absolute;
    top: 32px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 28px;
    letter-spacing: 0;
    line-height: normal;
}
